{
	auto_https off
	ocsp_stapling off #we don't need to revoke our own certificates here
	log default {
		output stdout
		level DEBUG
	}
    }

siteA.org {
	tls /keys/siteA.crt /keys/siteA.key {
        
    }

    handle {
		root * /srv/siteA
		file_server
	}
}

siteB.org {
	tls /keys/siteB.crt /keys/siteB.key {
		client_auth {
			mode require_and_verify
			trust_pool file {
				pem_file /keys/user_ca_b.pem
			}
		}
	}

    handle {
		root * /srv/siteB
		file_server
	}
}