{
	auto_https off
	ocsp_stapling off #we don't need to revoke our own certificates here
	log default {
		output stdout
		level DEBUG
	}
    default_sni siteA.org
    
	servers {
    	strict_sni_host insecure_off
	}
}

siteA.org {
	tls /keys/siteA.crt /keys/siteA.key {
        
        client_auth {
            mode require_and_verify #this is super important!! (not default even if trust pool is given)
            trust_pool file {
                pem_file /keys/user_ca_a.pem
            }
        }
        
    }

    handle {
		root * /srv/siteA
		file_server
	}
}

siteB.org {
	tls /keys/siteB.crt /keys/siteB.key {
		client_auth {
			mode require_and_verify
			trust_pool file {
				pem_file /keys/user_ca_b.pem
			}
		}
	}

    handle {
		root * /srv/siteB
		file_server
	}
}

:80 :443 {
	# everything else
	handle {
		respond 404
	}
}