{
	auto_https off
	ocsp_stapling off #we don't need to revoke our own certificates here
	log default {
		output stdout
		level DEBUG
	}
}

siteA.site.org {
	tls /keys/subdomainA.crt /keys/siteA.key {
		client_auth {
			mode require_and_verify #this is super important!! (not default even if trust pool is given)
			trust_pool file {
				pem_file /keys/user_ca_a.pem
			}
		}
	}

	handle {
		respond "hello from the other siteA"
	}
}

siteB.site.org {
	tls /keys/subdomainB.crt /keys/siteB.key {
		client_auth {
			mode require_and_verify #this is super important!! (not default even if trust pool is given)
			trust_pool file {
				pem_file /keys/user_ca_b.pem
			}
		}
	}

	handle {
		respond "hello from the other siteB"
	}
}

:80 :443 {
	# everything else
	handle {
		respond 404
	}
}
