{
	auto_https off
	ocsp_stapling off #we don't need to revoke our own certificates here
	log default {
		output stdout
		level DEBUG
	}
}

siteA.org {
	tls /keys/siteA.pem /keys/siteA.key {
	}

	handle {
		root * /srv/siteA
		file_server
	}
}

siteB.org {
	tls /keys/siteB.crt /keys/siteB.key {
	}

	handle {
		root * /srv/siteB
		file_server
	}
}

:80 :443 {
	# everything else
	handle {
		respond 404
	}
}
